{% if gradient %}
<a title="View the page of this gradient" href="{{gradient.canonical}}">{{gradient.name}}</a>
<a title="Download the feed of this gradient" href="{{gradient.feed}}" class="feed-local"></a>
<a title="View the page of this gradient" class="cached" href="{{gradient.canonical}}"></a>
{% endif %}
