{% if source %}
<a title="Visit the homepage of this content source" href="{{source.url}}">{{source.name}}</a>
<a title="Download the feed of this content source from this Gradient server" href="{{source.feed}}" class="feed-local"></a>
<a title="Visit the content source page on this gradient server" class="cached" href="{{source.canonical}}"></a>
{% endif %}
